@import "tailwindcss";

*{
    margin: 0px;
    font-family: "Google Sans Flex", sans-serif;
}
input{
    margin-top: 5px;
}
body{
    background-color: black;
}
.today{
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(206, 205, 205);
}
html, body {
  touch-action: manipulation;
}
