@import "tailwindcss";

*{
    margin: 0px;
    font-family: "Google Sans Flex", sans-serif;
}
input{
    margin-top: 5px;
}
body{
    background-color: black;
}
.today{
    position: fixed;
    bottom: 650px;
    width: 100vw;
    z-index: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 10px;
}